<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/styles/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/styles/messages.css" />



</head>

<body>

    <div class="container">

        <aside>

            <div class="top">
                <div class="logo">
                    <a href="/dashboard"><img src="../images/portal-logo.png" /></a>
                    <a href="/dashboard">
                        <h2>Portal</h2>
                    </a>
                </div>
                <div class="close" id="close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>

            <div class="sidebar">

                <a href="/profile">
                    <i class="fa-solid fa-user"></i>
                    <h3>Profile</h3>
                </a>

                <a href="/dashboard">
                    <i class="fa-solid fa-grip-vertical"></i>
                    <h3>Dashboard</h3>
                </a>

                <a href="/team">
                    <i class="fa-solid fa-people-group"></i>
                    <h3>Team</h3>
                </a>

                <a href="tasks">
                    <i class="fa-regular fa-clipboard"></i>
                    <h3>Tasks</h3>
                </a>

                <a href="/messages" class="active">
                    <i class="fa-solid fa-comment"></i>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>



                <div class="logout-container">
                    <form action="/logout?_method=DELETE" method="POST" class="logout-form">
                        <button type="submit" class="btn-form-link">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>

                    </form>
                </div>
            </div>
        </aside>

        <main>
            <h1>Real Time Messaging</h1>

            <div class="wrapper">
                <pre id="messages"></pre>

                <input type="text" id="messageBox" placeholder="Type your message here" />
                <button id="send" title="Send Message">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </div>

        </main>

        <%- include('top.ejs') %>



            <script>
                // Define a JavaScript variable and set it to the user's name from the server-side
                var userName = '<%= name %>';
            </script>

            <!--messages functionality-->
            <script src="../scripts/messages.js"></script>

</body>

</html>