<div class="right">

    <div class="top">
      
      <button id="menu-btn">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="theme-toggler">
        <i class="fa-regular fa-sun active"></i>
        <i class="fa-regular fa-moon"></i>
      </div>

      <div class="profile">
        <div class="info">
          
          <small class="text-muted"></small>
        </div>

        <div class="profile-photo">
          <a href="/profile">
            <img src="<%= avatar %>" alt="Profile photo"/>
          </a>
       </div>
      </div>
      
    </div>
  </div>


</div>
  

<!--toggle button functionality-->
<script src="../scripts/dashboard.js"></script>