@import url('variables.css');



main {

    margin-left: 2rem;

}



/* display tasks styles */

.col-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: left;
    width: 30%;
}

.col {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;


}

.col h2 {
    margin-top: 0;
}

.card {
    height: 220px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    background-color: var(--color-white);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: var(--card-border-radius);
    color: var(--color-dark);
    box-shadow: 1rem 1rem 1rem var(--color-light);
    transition: all 300ms ease;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}


.card:hover {
    box-shadow: none;
}

.delete-task-btn,
.edit-task-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.add-task-btn {
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--color-aside);
    color: var(--color-dark);
    box-shadow: 0.5rem 0.5rem 0.5rem var(--color-light);
    transition: all 300ms ease;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}


.add-task-btn:hover {
    box-shadow: none;
}


/* responsive design */

@media(max-width: 992px) {

    .container {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        margin-top: 4rem;
        padding: 1rem;
    }
    

    .col-container {
        flex-direction: column;
        align-items: center;
    }

    .col {
        width: 90%;
        margin: 10px 0;
    }

}


@media(max-width: 400px) {

    .col-container {
        flex-direction: column;
    }

    .col {
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .card {
        width: 90%;
        margin: 10px 0;

    }

}