@import url('variables.css');

main {

    margin-left: 2rem;


}


.wrapper {
    margin: 20px auto;

}


.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    color: white;

}

.user-card {
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: var(--color-aside);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    backdrop-filter: blur(20px);

}

.user-card:hover {
    box-shadow: none;
}

.user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;

}

.user-info span {
    display: block;
    margin-bottom: 5px;
}

.user-email a:hover {
    color: var(--color-primary);
    cursor: pointer;
}

/* Responsive design */

@media(max-width: 992px) {

    main {
        margin-left: 0;
        padding: 1rem;
    }

    .wrapper {
        width: 100%;
    }

    .user-cards {
        flex-direction: column;
        align-items: center;
    }

    .user-card {
        width: 90%;
        margin: 10px 0;
    }
}


@media(max-width: 400px) {

    .user-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-card img {
        width: 40px;
        height: 40px;
    }

}