@import url('variables.css');


form > div{
    padding: 20px;
    
}

.profile-info{
    display: flex;
}

.column{
    flex: 1;
    margin-right: 20px;
}


.form-group{
    margin-bottom: 20px;
}


@media (max-width: 768px){
    .profile-info{
        flex-direction: column;

    }

    .column{
        margin-right: 0;
        margin-bottom: 20px;
    }

}




