:root {
    --color-primary: #ec258b;
    --color-danger: #c05b5b;
    --color-success: #66c59c;
    --color-warning: #d38e4c;
    --color-white: #b39bc8;
    --color-info-dark: #f4f4f4;
    --color-info-light: #f4f4f4;
    --color-dark: #f4f4f4;
    --color-light: rgba(49, 50, 58, 0.18);
    --color-primary-variant: #1f309f;
    --color-dark-variant: #6d1d46;
    --color-background: #a1c3d1;
    --card-border-radius: 12px;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.2rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    --color-aside: #f172a1;
    --bg-img: url('../images/pink-blue-bg.jpg');
    --text-shadow: 2px 2px 4px rgba(69, 64, 67, 0.4);
    --message-background: rgba(229, 244, 247, 0.963);
}


.dark-theme-variables {
    --color-background: #0c1519;
    --color-white: #b39bc8;
    --color-dark: #edeffd;
    --color-dark-variant: #0f222d;
    --color-light: rgba(136, 17, 97, 0.4);
    --color-aside: #53152c;
    --box-shadow: 0 2rem 3rem var(--color-light);
    --bg-img: url('../images/pink-blue-bg-dark.jpg');
    --text-shadow: 2px 2px 4px rgba(136, 17, 97, 0.4);
    --message-background: rgba(71, 87, 90, 0.936);
}